<%-include("./partials/header")%>
   <h1>this is an ejs template 2+2</h1>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nihil optio consectetur nesciunt voluptatibus. Reprehenderit itaque cupiditate sint in aspernatur ut dolorem quibusdam.</p>
   <h1><%=randomNumber%> random</h1>
   <script src="/jsfile /src.js"></script>
   <%-include("./partials/footer")%>